.decalmarg20 {
  margin-top: 20px;
  padding-bottom: 20px;
}

.decalpad70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.jsquadImg {
  width: 90%;
}

.notagreturn {
  display: inline-block;
  margin-right: 5px;
}
