
<div class="decalpad70 col-md-10 col-md-offset-1">
  <div class="decalmarg20 text-center">
    <h1><span class="label label-primary">{{name}}</span></h1>
  </div>
  <div *ngFor="let blogPost of blogPosts">
    <div class="col-md-6 col-md-offset-3">
      <div class="content-title text-center">
        <a routerLink="/billet/{{blogPost.id}}"><h3>{{ blogPost.title | uppercase}}</h3></a>
      </div>
      <a routerLink="/billet/{{blogPost.id}}"><img src="{{blogPost.img_url}}" class="blocBlog img-rounded img-responsive center-block jsquadImg" alt="cool"></a>
      <div class="decalmarg20 text-center">
        <div *ngFor="let tag of blogPost.tags" class="notagreturn">
          <a routerLink="/tag/{{tag.id}}"><h4><span class="label label-primary">{{tag.name}}</span></h4></a>
        </div>
      </div>
    </div>
  </div>
</div>
