<div class="" *ngFor="let blogPostOne of blogPost">
  <div class="content-title">
    <div>
      <header [ngStyle]="{'background': 'url(' + blogPostOne.img_url + ') center center no-repeat scroll', 'height': '450px', '-webkit-background-size': 'cover', 'background-size': 'cover'}" class="text-center decalpad20">
        <div class="fond transp60">
          <h1 class="colorBlack">{{ blogPostOne.title | uppercase}}</h1>
          <div class="decalmarg20">
            <div *ngFor="let tag of blogPostOne.tags" class="notagreturn">
              <h3><span class="label label-primary">{{tag.name}}</span></h3>
            </div>
          </div>
        </div>
      </header>
    </div>

    <div class="col-md-5 col-md-offset-1">
      <img src="{{blogPostOne.img_url}}" class="decalmarg20 img-rounded img-responsive center-block jsquadImg" alt="cool" />
      <div class="decalmarg20">
        <div [innerHTML]="blogPostOne.content" class="text-justify"></div>
      </div>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <comment class="decalpad20" blogPostId={{blogPostOne.id}}></comment>
    </div>
  </div>
</div>
