.decalmarg20 {
  margin-top: 20px;
  padding-bottom: 20px;
}

.decalpad20 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.jsquadImg {
  width: 100%;
  height: 50%
}

.notagreturn {
  display: inline-block;
  margin-right: 5px;
}

.colorBlack {
  color: #383535;
  font-size: 4em;
}

.fond {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 50px;
}
