{% extends 'base.html.twig' %}

{% block body %}
    <h1>Billets list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Createdat</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for billet in billets %}
            <tr>
                <td><a href="{{ path('billets_show', { 'id': billet.id }) }}">{{ billet.id }}</a></td>
                <td>{{ billet.title }}</td>
                <td>{{ billet.content }}</td>
                <td>{% if billet.createdAt %}{{ billet.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ billet.author }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('billets_show', { 'id': billet.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('billets_edit', { 'id': billet.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('billets_new') }}">Create a new billet</a>
        </li>
    </ul>
{% endblock %}
