{% extends 'base.html.twig' %}

{% block body %}
    <h1>Billet</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ billet.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ billet.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ billet.content }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if billet.createdAt %}{{ billet.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ billet.author }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('billets_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('billets_edit', { 'id': billet.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
