
<div class="decalpad70">
    <div class="col-md-5 col-md-offset-2 col-sm-12">
        <h2>Nouveau Billet</h2>
        <div class="form-group ">
            <label>Titre</label>
            <input type="text" class="form-control" [(ngModel)]="title">
            <label>Contenu</label>
            <textarea class="form-control" rows="14" cols="5" [(ngModel)]="content"></textarea><br>
            <button (click)="save()" class="btn btn-success">Ajouter</button>
        </div>
    </div>
</div>
