<h3>Commentaires :</h3>
<div *ngFor="let comment of comments">
  <div *ngIf="blogPostId == comment.id_billet">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel  panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-8">
                <strong>{{ comment.author }}</strong> <span class="text-muted"> - {{ comment.created_at | date }}</span>
              </div>
              <div class="col-md-2 col-md-offset-2">
                <button (click)="moderate(comment.id)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span> Moderate</button>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <p>{{ comment.content }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<button (click)="displayOrNot()" class="btn btn-success">Ajouter un commentaire</button>
<div *ngIf="displayFormComment">
  <!-- Form Comment-->
  <div class="decalmarg20">
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-md-12">
          <input type="text" placeholder="votre nom" class="form-control" [(ngModel)]="author" name="author">
        </div>
        <div class="col-md-12 decalmarg20">
          <input type="text" placeholder="votre commentaire" class="form-control" [(ngModel)]="content" name="content">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4">
          <button name="singlebutton" (click)="save()" class="btn btn-primary">Valider</button>
        </div>
      </div>
    </form>
  </div>
</div>
