<div class="decalNavBarFix">
  <div class="col-md-10 col-md-offset-1">


    <form class="form-horizontal">
      <fieldset>
        <h1>Connexion</h1>

        <!-- login input-->
        <div class="form-group">
          <div class="col-md-4 col-md-offset-4">
            <input id="textinput" name="textinput" type="text" placeholder="pseudo" class="form-control input-md" [(ngModel)]="username">
          </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
          <div class="col-md-4 col-md-offset-4">
            <input id="passwordinput" name="passwordinput" type="password" placeholder="mot de passe" class="form-control input-md" [(ngModel)]="password">
          </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
          <div class="col-md-4 col-md-offset-4">
            <button (click)="send()" class="btn btn-success">envoyer</button>
            <a href="/accueil" class="btn btn-danger">retour</a>
          </div>
        </div>

      </fieldset>
    </form>
  </div>
</div>
